<ul>
  <li>
    <h3>Action events</h3>

    <ul>
      <li><a href="/#/events/add-editable-field">addEditableField</a>
      <li><a href="/#/events/add-item">addItem</a>
      <li><a href="/#/events/add-multiple-values-filter">
          addMultipleValuesFilter</a>
              
      <li><a href="/#/events/batch-action">batchAction</a>
      <li><a href="/#/events/delete-item">deleteItem</a>
      <li><a href="/#/events/deselect-all-items">deselectAllItems</a>
      <li><a href="/#/events/deselect-item">deselectItem</a>
      <li><a href="/#/events/draft-set-field">draftSetField</a>
      <li><a href="/#/events/draft-unset-field">draftUnsetField</a>
      <li><a href="/#/events/fetch-items">fetchItems</a>
      <li><a href="/#/events/remove-multiple-values-filter">
          removeMultipleValuesFilter</a>

      <li><a href="/#/events/reset-draft">resetDraft</a>
      <li><a href="/#/events/reset-items">resetItems</a>
      <li><a href="/#/events/select-all-items">selectAllItems</a>
      <li><a href="/#/events/select-item">selectItem</a>
      <li><a href="/#/events/set-order">setOrder</a>
      <li><a href="/#/events/set-page-offset">setPageOffset</a>
      <li><a href="/#/events/set-page-size">setPageSize</a>
      <li><a href="/#/events/set-single-value-filter">setSingleValueFilter</a>
      <li><a href="/#/events/update-form-data">updateFormData</a>
      <li><a href="/#/events/update-item-data">updateItemData</a>
    </ul>

  <li>
    <h3>Display events</h3>

    <ul>
      <li><a href="/#/events/ajax-request-finished">ajaxRequestFinished</a>
      <li><a href="/#/events/ajax-request-started">ajaxRequestStarted</a>
      <li><a href="/#/events/draft-updated">draftUpdated</a>
      <li><a href="/#/events/editing-begin">editingBegin</a>
      <li><a href="/#/events/editing-end">editingEnd</a>
      <li><a href="/#/events/filter-updated">filterUpdated</a>
      <li><a href="/#/events/form-data-updated">formDataUpdated</a>
      <li><a href="/#/events/item-added">itemAdded</a>
      <li><a href="/#/events/item-add-failed">itemAddFailed</a>
      <li><a href="/#/events/item-data-updated">itemDataUpdated</a>
      <li><a href="/#/events/item-deleted">itemDeleted</a>
      <li><a href="/#/events/item-delete-failed">itemDeleteFailed</a>
      <li><a href="/#/events/item-deselected">itemDeselected</a>
      <li><a href="/#/events/item-selected">itemSelected</a>
      <li><a href="/#/events/items-total-updated">itemsTotalUpdated</a>
      <li><a href="/#/events/items-updated">itemsUpdated</a>
      <li><a href="/#/events/items-update-failed">itemsUpdateFailed</a>
      <li><a href="/#/events/order-updated">orderUpdated</a>
      <li><a href="/#/events/page-offset-updated">pageOffsetUpdated</a>
      <li><a href="/#/events/page-size-updated">pageSizeUpdated</a>
    </ul>
</ul>
