<div class="row">
  <div class="col-md-12">
    <h2>Mixins</h2>

    <p>What you might need when developing widgets of your own.

    <ul>
      <li>
        <h3>FhTableDefinitionMixin</h3>
        <p>Provide uniform way of storing and getting instance of FhTableDefinition through html markup.
        <p>Instance of TableDefinition will be stored as <code>$scope.params</code>, aleviating the need
           for every widgets in hierarchical structure to ask for that same instance.

      <li>
        <h3>FhTableListResourceControllerMixin</h3>
        <p>The main work-horse.
    </ul>
  </div>
</div>
