<div class="row breadcrumbs">
  <nav class="col-md-12">
    <p class="sr-only">You are here:
    <ol>
      <li><a href="/#/">Home</a>
      <li>Options
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-12">

    <h1>Options / FhTableDefinition</h1>

    <p>To setup options, create an instance of <code>FhTableDefinition</code>,
       and through html markup provide it to table widgets.

    <p>Provides empty scope, which primary use is event-hub.

    <p>All widgets listen and transmit events by means of this object,
       eventually getting the overall picture of pieces of data each widget was
       interested in.

    <h2>Fields</h2>

    <p>Main purpose is helper for <code>items.getter</code>, a callback
       function which will perform ajax requests to the REST api to get list of
       items.

    <ul>
      <li>
        <strong>filter</strong>

        <ul>
          <li>
            <strong>throttle</strong>

            <p>Delay lookup (ajax requests), will by used by
               &lt;input type="text"&gt; with popup search hints.
        </ul>

      <li>
        <strong>filterBy</strong>

        <p>Default filter-by for <code>items.getter</code>, a key-value pairs
           of table-field-name and list of filter-values.

        <p>For example, <code>filterBy: {name: ['john', 'alex'],
           gender: ['male']}</code>.

      <li>
        <strong>items</strong>

        <ul>
          <li>
            <strong>getter</strong>

            <p>The main work-horse, must return a promise of list of items.

          <li>
            <strong>identifierFields</strong>

            <p>How to identify each items as unique, will be used with
               <code>_.pick()</code> and <code>_.isEqual()</code>.

            <p>Default to identify items by their <code>id</code> field,
               assuming there was one.

            <p>Required! The widgets will break with a fatal error if you left
               this out.

          <li>
            <strong>page</strong>

            <p>I have absolutely no idea why this "page" is here, while
               "filterBy" and "orderBy" are a level above.

            <p>Default active page for <code>items.getter</code>.

          <li>
            <strong>pageSize</strong>

            <p>Determines how many items we want to collect from REST api with
               a single fetch, will be used with <code>items.getter</code>
        </ul>

      <li>
        <strong>orderBy</strong>

        <p>Default order-by for <code>items.getter</code>, a list of list of two
           items, table-field-name and <code>'asc'</code> or
           <code>'desc'</code>.

        <p>For example, <code>orderBy: [['id', 'asc'], ['name', 'asc']]</code>.

      <li>
        <strong>eventHandlers</strong>

        <p>Over powered event handlers, let you override the behaviour of
           default widgets.

      <li>
        <strong>middlewares</strong>

        <p>List of names of services which implements <code>
           eventHandlers</code>.

        <p>It's better that you assigned middlewares with html attribute <code>
           data-fhp-middlewares</code> on specific widgets, if you placed them
           here it will act as wildcards to all widget that use this
           definition.

      <li>
        <strong>services</strong>

        <p>Singletons which life time at least as long as this definition's
           instance, they provide services, for example to be used as
           middlewares.
    </ul>

    <h2>Sub definition fields</h2>

    <p>Each of these sub definitions are keyed by table-field-names and each
       table-field-names have the fields above.

    <ul>
      <li><strong>fieldDefinition</strong>

      <li><strong>filterDefinition</strong>

      <li><strong>orderDefinition</strong>
    </ul>
  </div>
</div>
