<div class="row">
  <div class="col-md-12">
    <h2>Widgets</h2>

    <p>All packaged widgets are set as attribute directives.
    <p>The widgets don't have to be laid in an hierarchical structure. Your
       &lt;table&gt; can be located in the middle of the page while your filter
       and sorting widget in the sidebar or somewhere else.

    <h3>Table related widgets</h3>
    <ul>
      <li>
        <h4>FhTable</h4>
        <p>Contrary to what the name implies, you don't need to attach this
           widget to a &lt;table&gt;, and it doesn't provide any html markup.
        <p>A wrapper to FhTableListResourceControllerMixin, provides scope
           functions related to selection of all rows.
        <p><a href="/demos/fh-table.html">See fhTable demo</a>.

      <li>
        <h4>FhTablePager</h4>
        <p>Pager navigation.
        <p><a href="/demos/fh-table-pager.html">See fhTablePager demo</a>

      <li>
        <h4>FhTablePagerSize</h4>
        <p>Select pager sizes.
        <p><a href="/demos/fh-table-pager-size.html">See fhTablePagerSize
            demo</a>

      <li>
        <h4>FhTableSorting</h4>
        <p><a href="/demos/fh-table-sorting.html">See fhTableSorting demo</a>

      <li>
        <h4>FhTableFilterText</h4>
        <p>Filter table rows by field value.
        <p><a href="/demos/fh-table-filter-text.html">See fhTableFilterText
            demo</a>

      <li>
        <h4>FhTableRow</h4>
        <p>Allows you to interact with the data of each row, be it editing,
           deletion or other custom activities.
        <p><a href="/demos/fh-table-row.html">See fhTableRow demo</a>

      <li>
        <h4>FhTableFilterSelect</h4>
        <p>Filter table rows by multiple selection.
        <p><a href="/demos/fh-table-filter-select.html">See fhTableFilterSelect
            demo</a>

      <li>
        <h4>FhTableBatchActions</h4>
        <p>Perform actions on selected rows.
        <p><a href="/demos/fh-table-batch-actions.html">See fhTableBatchActions
            demo</a>
    </ul>

    <h3>Form related widgets</h3>
    <ul>
      <li>FhFormFieldSelect
    </ul>

    <h3>Other widgets</h3>
    <ul>
      <li>FhInfiniteScroll
    </ul>

  </div>
</div>
