<!doctype html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/styles/app.css">

<script src="/scripts/vendor/angular/angular.min.js"></script>
<script src="/scripts/vendor/angular-route/angular-route.min.js"></script>
<script src="/scripts/vendor/jquery/dist/jquery.min.js"></script>
<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/app.js"></script>


<body data-ng-app="firehAngularTableDemo" data-ng-controller="MainCtrl">

<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" aria-expanded="false"
          aria-control="my-navbar" data-target="#my-navbar"
          data-toggle="collapse" type="button">

        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <h1>FirehAngularTable</h1>
    </div>

    <nav id="my-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/#/">Summary</a>
        <li><a href="/#/options">Options</a>
        <li><a href="/#/widgets">Widgets</a>
        <li><a href="/#/mixins">Mixins</a>
        <li><a href="/#/events">Events</a>
      </ul>
    </nav>
  </div>
</header>

<div class="container" data-ng-view>
</div>
