<div class="row breadcrumbs">
  <nav class="col-md-12">
    <p class="sr-only">You are here:
    <ol>
      <li><a href="/#/">Home</a>
      <li><a href="/#/events">Events</a>
      <li>resetItems
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-8">

    <h1>resetItems</h1>

    <p>This is an action event, it is used to prompt other widgets to perform
       actions, if they succeded then passive form of the event's name should be
       triggered to notify this widget that it was a success or a failure.

    <p>Clear items, and refetch from server with the pager offset restarted to
       page 1, usually happens because the filter-by or the order-by fields
       changed.


    <h2>Parameters</h2>

    <ol>
      <li>
        <strong>event</strong>

        <p>Angular
          <a href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$on">
          event object</a>.

    </ol>


    <h2>Related Mixins</h2>

    <ul>
      <li><a href="/#/mixins/fh-table-list-resource-controller-mixin">
          FhTableListResourceControllerMixin</a>
    </ul>
  </div>

  <nav class="sidebar-navigation col-md-3 col-md-push-1">
    <h2>See Also</h2>

    <div data-ng-include="'/partials/events-see-also.html'"></div>

  </nav>
</div>
