<div class="row breadcrumbs">
  <nav class="col-md-12">
    <p class="sr-only">You are here:
    <ol>
      <li><a href="/#/">Home</a>
      <li><a href="/#/widgets">Widgets</a>
      <li>FhForm
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-8">

    <h1>FhForm</h1>

    <p>This widget doesn't provide any html markup.

    <p>Helps setting up draft and form-data, and related events.


    <h2>Angular Directive Parameters</h2>

    <ul>
      <li>
        <strong>data-fh-form</strong> itself

        <p>Expected value, instance of <a href="/#/options">
           FhTableDefinition</a>.

      <li>
        <strong>data-fhp-table</strong>

        <p>Expected value, instance of <a href="/#/options">
           FhTableDefinition</a>, if you haven't set one already with <code>
           data-fh-form</code>.

      <li>
          <strong>data-fhp-form-item</strong>

          <p>Expected value, object, the form's data.

      <li>
        <strong>data-fhp-element-id</strong>

        <p>Expected value, string, form elements usually have <code>id</code>
           attribute set, for example to link &lt;label&gt; with the element
           itself.

        <p>If you don't set one, a random element-id will be assigned.

      <li>
        <strong>data-fhp-element-name</strong>

        <p>Expected value, string, the alphabets part of random element-id, the
           priority is lower than value set in <code>data-fhp-element-id</code>.

        <p>Random numbers will be appended when the id was constructed, making
           the id unique.

      <li>
        <strong>data-fhp-middlewares</strong>

        <p>Expected value, comma separated list of services names.

      <li>
        <strong>data-fhe-*</strong>

        <p>Custom event handler if you wanted to change this widget behaviour.

    </ul>


    <h2>Demo</h2>

    <p><a href="/demos/fh-form.html">See FhForm demo</a>

    <p>Notice that <a href="/#/widget-helpers/fhf-editable-field">
       FhfEditableField</a> and <code>data-fhp-editable-fields</code> does the
       same thing.

    <p>The form has link to the table, when new Note was created new entry will
       be created in the table.


    <h2>Widgets Requirement</h2>

    <p>None

  </div>

  <nav class="sidebar-navigation col-md-3 col-md-push-1">
    <h2>See Also</h2>

    <div data-ng-include="'/partials/widgets-see-also.html'"></div>


    <h2>Events Listened</h2>

    <ul>
      <li>
        <h3>Action Events</h3>

        <ul>
          <li><a href="/#/events/add-editable-field">addEditableField</a>
          <li><a href="/#/events/draft-set-field">draftSetField</a>
              (possible override)

          <li><a href="/#/events/draft-unset-field">draftUnsetField</a>
              (possible override)

          <li><a href="/#/events/reset-draft">resetDraft</a>
              (possible override)

          <li><a href="/#/events/update-form-data">updateFormData</a>
              (possible override)
        </ul>

        <h3>Display Events</h3>

        <ul>
          <li><a href="/#/events/draft-updated">draftUpdated</a>
              (possible override)

          <li><a href="/#/events/item-added">itemAdded</a>
              (possible override)

          <li><a href="/#/events/item-data-updated">itemDataUpdated</a>
              (possible override)

          <li><a href="/#/events/item-deleted">itemDeleted</a>
              (possible override)
        </ul>
    </ul>


    <h2>Events Triggered</h2>

    <ul>
      <li>
        <h3>Action Events</h3>

        <ul>
          <li><a href="/#/events/add-item">addItem</a>
          <li><a href="/#/events/delete-item">deleteItem</a>
          <li><a href="/#/events/draft-set-field">draftSetField</a>
          <li><a href="/#/events/reset-draft">resetDraft</a>
          <li><a href="/#/events/update-form-data">updateFormData</a>
          <li><a href="/#/events/update-item-data">updateItemData</a>
        </ul>

        <h3>Display Events</h3>

        <ul>
          <li><a href="/#/events/draft-updated">draftUpdated</a>
          <li><a href="/#/events/editing-begin">editingBegin</a>
          <li><a href="/#/events/editing-end">editingEnd</a>
          <li><a href="/#/events/form-data-updated">formDataUpdated</a>
        </ul>
    </ul>
  </nav>
</div>
