<div class="row breadcrumbs">
  <nav class="col-md-12">
    <p class="sr-only">You are here:
    <ol>
      <li><a href="/#/">Home</a>
      <li><a href="/#/widgets">Widgets</a>
      <li>FhTablePager
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-8">

    <h1>FhTablePager</h1>

    <p>Pager navigation.


    <h2>Angular Directive Parameters</h2>

    <ul>
      <li>
        <strong>data-fh-table-pager</strong> itself

        <p>Expected value, instance of <a href="/#/options">
           FhTableDefinition</a>.

      <li>
        <strong>data-fhp-table</strong>

        <p>Expected value, instance of <a href="/#/options">
           FhTableDefinition</a>, if you haven't set one already with <code>
           data-fh-table-pager</code>.

      <li>
        <strong>data-fhp-template-url</strong>

        <p>Expected value, string of url to partial html, with this you can
           override the template html used by the widget.

        <p>The widget uses
           <a href="https://docs.angularjs.org/api/ng/service/$templateRequest">
           Angular $templateRequest</a> on the value.

       <li>
         <strong>data-fhp-pager-links-count</strong>

         <p>Expected value, integer, the total number of page offsets to render.

      <li>
        <strong>data-fhp-middlewares</strong>

        <p>Expected value, comma separated list of services names.

      <li>
        <strong>data-fhe-*</strong>

        <p>Custom event handler if you wanted to change this widget behaviour.

    </ul>


    <h2>Demo</h2>

    <p><a href="/demos/fh-table-pager.html">See FhTablePager demo</a>


    <h2>Widgets Requirement</h2>

    <ol>
      <li><a href="/#/widgets/fh-table">FhTable</a>
    </ol>

  </div>

  <nav class="sidebar-navigation col-md-3 col-md-push-1">
    <h2>See Also</h2>

    <div data-ng-include="'/partials/widgets-see-also.html'"></div>


    <h2>Events Listened</h2>

    <ul>
      <li>
        <h3>Display Events</h3>

        <ul>
          <li><a href="/#/events/items-total-updated">itemsTotalUpdated</a>
              (possible override)

          <li><a href="/#/events/page-offset-updated">pageOffsetUpdated</a>
              (possible override)

          <li><a href="/#/events/page-size-updated">pageSizeUpdated</a>
              (possible override)
        </ul>
    </ul>


    <h2>Events Triggered</h2>

    <ul>
      <li>
        <h3>Action Events</h3>

        <ul>
          <li><a href="/#/events/set-page-offset">setPageOffset</a>
        </ul>
    </ul>
  </nav>
</div>
