<div class="row breadcrumbs">
  <nav class="col-md-12">
    <p class="sr-only">You are here:
    <ol>
      <li><a href="/#/">Home</a>
      <li><a href="/#/widgets">Widgets</a>
      <li>FhTable
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-8">

    <h2>FhTable</h2>

    <p>Contrary to what the name implies, you don't need to attach this
       widget to a &lt;table&gt;, and it doesn't provide any html markup.
       
    <p>A wrapper to FhTableListResourceControllerMixin, provides scope
       functions related to selection of all rows.

    <p><a href="/demos/fh-table.html">See fhTable demo</a>.

  </div>

  <nav class="sidebar-navigation col-md-3 col-md-push-1">
    <h2>See Also</h2>
    <div data-ng-include="'/partials/widgets-see-also.html'"></div>
  </nav>
</div>
