<div class="row breadcrumbs">
  <nav class="col-md-12">
    <p class="sr-only">You are here:
    <ol>
      <li><a href="/#/">Home</a>
      <li><a href="/#/widgets">Widgets</a>
      <li>FhTable
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-md-8">

    <h1>FhTable</h1>

    <p>This widget doesn't provide any html markup.
       
    <p>A wrapper to <a href="/#/mixins/fh-table-list-resource-controller.html">
       FhTableListResourceControllerMixin</a>, provides scope functions related
       to selection of all rows.


    <h2>Directive parameters</h2>

    <ul>
      <li>
        <strong>data-fh-table</strong> itself

        <p>Expected value, instance of <a href="/#/options">
           FhTableDefinition</a>.

      <li>
        <strong>data-fhp-table</strong>

        <p>Expected value, instance of <a href="/#/options">
           FhTableDefinition</a>, if you haven't set one already with <code>
           data-fh-table</code>.

      <li>
        <strong>data-fhp-middlewares</strong>

        <p>Expected value, comma separated list of services names.


      <li>
        <strong>data-fhe-*</strong>

        <p>Custom event handler if you wanted to change this widget behaviour.

    </ul>


    <h2>Demo</h2>

    <p><a href="/demos/fh-table.html">See FhTable demo</a>.

    <p>The example shows how to create instance of <a href="/#/options">
       FhTableDefinition</a> in angular controller and use
       <code>data-fh-table</code> in html.

    <p>FhTable is the one responsible for getting data/items from the REST API.


    <h2>Widgets requirement</h2>

    <p>None.

  </div>

  <nav class="sidebar-navigation col-md-3 col-md-push-1">
    <h2>See Also</h2>
    <div data-ng-include="'/partials/widgets-see-also.html'"></div>
  </nav>
</div>
