body
    padding-top 5em

h1
    color #563d7c
    font-size 1.42857em
    line-height 1
    margin 15px

header.navbar
    background-color rgba(255, 255, 255, 0.9)

@media screen and (min-width: 768px)
    h1
        line-height 20px
        margin 0
        padding-bottom 15px
        padding-top 15px

    .navbar-header
        float left

.navbar-toggle
    > .icon-bar
        background-color #563d7c

.pagination-size > div
    margin-bottom 20px
    margin-top 20px


// table sorting

[data-fh-table-sorting]
    display inline-block
    white-space nowrap

.fh-table-sorting > button
    background-color transparent
    border 1px solid #aaa
    border-radius 0.4em
    padding 0 0.5em
    vertical-align middle
            
.fh-table-sorting > button:hover,
.fh-table-sorting > button:active,
.fh-table-sorting > button:.active
    background-color #2ec1cc
    color white


// field-select
.fh-table-field-select
    .modal-body,
    .modal-footer
        background-color white
        margin-left auto
        margin-right auto
        max-width 20em
        width 95%


// filter
.select-country > div > .dropdown-menu
    padding 4px
    min-width 20em


// infinite-scroll
[data-fh-infinite-scroll]
    max-height 20em
    overflow-y scroll
