<!doctype html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>FhFormFieldSelect Demo</title>

<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/scripts/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/scripts/vendor/country-flags/css/flags.css">
<link rel="stylesheet" href="/styles/app.css">

<script src="/scripts/vendor/angular/angular.min.js"></script>
<script src="/scripts/vendor/jquery/dist/jquery.min.js"></script>
<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/vendor/lodash/dist/lodash.min.js"></script>
<script src="/scripts/vendor/moment/min/moment.min.js"></script>
<script src="/scripts/vendor/angular-moment/angular-moment.min.js"></script>
<script src="/scripts/vendor/jquery-infinite-scroll-helper/jquery.infinite-scroll-helper.min.js"></script>

<script src="/scripts/vendor/fireh_angular_table/core.js"></script>
<script src="/scripts/vendor/fireh_angular_table/core_mixins.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_row.js"></script>
<script src="/scripts/vendor/fireh_angular_table/infinite_scroll.js"></script>
<script src="/scripts/vendor/fireh_angular_table/form.js"></script>
<script src="/scripts/vendor/fireh_angular_table/form_helpers.js"></script>
<script src="/scripts/vendor/fireh_angular_table/form_field_select.js"></script>

<script src="/scripts/demoapp-fh-form-field-select.js"></script>


<body data-ng-app="fhFormFieldSelectDemo" data-ng-controller="MainCtrl">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>FhFormFieldSelect Demo</h1>

      <p>View source and also take a look at this file
         <a href="/scripts/demoapp-fh-form-field-select.js">
           demoapp-fh-form-field-select.js
         </a>.
    </div>
  </div>

  <div class="row" data-ng-hide="isCreatingNote">
    <div class="col-md-12 text-right form-group">
      <button data-ng-click="createNote()" class="btn btn-primary">
        Create new Note
      </button>
    </div>
  </div>

  <div class="row" data-ng-hide="isCreatingNote">
    <div class="col-md-12">
      <div class="table-responsive">
        <table data-fh-table="tableSettings" class="table table-striped">

          <thead>
            <tr>
              <th>Id
              <th>Title
              <th>Author
              <th>Content
              <th>Country
              <th>Date Created
              <th>Date Modified
          </thead>

          <tr data-ng-repeat="row in data.items track by row.id">
            <td>{{row.id}}
            <td>{{row.title}}
            <td>{{row.author}}
            <td>{{row.body}}
            <td>
              <i class="flag n-{{('0000' + row.country.id).slice(-3)}}"
                  data-ng-if="row.country"></i>

            <td am-time-ago="row.created_at">
            <td am-time-ago="row.modified_at">
        </table>
      </div>
    </div>
  </div>

  <div class="row ng-hide" data-ng-show="isCreatingNote">
    <div class="col-md-12">
      <form name="createNoteForm">
        <div data-fh-form="tableSettings" data-fhp-form-id="createNoteForm"
            data-fhp-editable-fields="title,author,body,country">

          <div class="form-group">
            <label for="edit-title">Title</label>
            <input class="form-control" id="edit-title"
                placeholder="Some title thingy"
                data-ng-model="draft.title"
                data-fhf-editable-field="title"
                required
                maxlength="50">
          </div>

          <div class="form-group">
            <label for="edit-author">Author</label>
            <input class="form-control" id="edit-author"
                placeholder="Slim Shady"
                data-ng-model="draft.author"
                data-fhf-editable-field="author"
                required
                maxlength="50">
          </div>

          <div class="form-group">
            <label for="edit-body">Content</label>
            <textarea class="form-control" id="edit-body"
                placeholder="This is a note!"
                data-ng-model="draft.body"
                data-fhf-editable-field="body"
                maxlength="250">
            </textarea>
          </div>

          <div data-fh-form-field-select="country" data-fhp-single-selection
              data-fhp-form-id="edit-country" class="select-country form-group">

            <label data-fh-transclude-pane="header" for="{{elementId}}">
              Country
            </label>
              
            <span data-fh-transclude-pane="caption">
              <i class="flag n-{{('0000' + draft.country.id).slice(-3)}}"
                  data-ng-if="draft.country"></i>

              <span data-ng-if="!draft.country">Select Country</span>
            </span>

            <div data-fh-transclude-pane="popup">
              <ul class="list-unstyled"
                  data-fh-transcluded="data-fh-infinite-scroll"
                  data-fhp-init-callback="infiniteScrollPopupInit">

                <li data-ng-repeat="row in data.items track by row.id"
                    data-fh-table-row="row">

                  <input type="checkbox" class="hidden"
                      id="{{elementId}}-{{row.id}}"
                      data-ng-click="toggleSelect($event)"
                      data-ng-checked="isSelected">

                  <label for="{{elementId}}-{{row.id}}">
                    <i class="flag n-{{('0000' + row.id).slice(-3)}}"></i>
                    {{row.name}}
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <button class="btn btn-primary" data-ng-click="create()"
              data-ng-disabled="!createNoteForm.$valid">

            Save
          </button>

          <button class="btn btn-cancel" data-ng-click="cancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nav>
        <h2>Where to go from here?</h2>
        <ol>
          <li><a href="/#/widgets/fh-form-field-select">FhFormFieldSelect</a>
          <li><a href="/#/widgets">Widgets</a>
          <li><a href="/#/">Home</a>
          <li><a href="https://github.com/dozymoe/fireh_angular_table">
              Github repository</a>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>
</div>
