<!doctype html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<link rel="stylesheets" href="/scripts/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheets" href="/scripts/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/styles/app.css">

<script src="/scripts/vendor/angular/angular.min.js"></script>
<script src="/scripts/vendor/angular-route/angular-route.min.js"></script>
<script src="/scripts/vendor/jquery/dist/jquery.min.js"></script>
<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/scripts/vendor/lodash/dist/lodash.min.js"></script>
<script src="/scripts/vendor/fireh_angular_table/core.js"></script>
<script src="/scripts/vendor/fireh_angular_table/core_mixins.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table.js"></script>

<script src="/scripts/demoapp-fh-table.js"></script>


<body data-ng-app="fhTableDemo" data-ng-controller="MainCtrl">

<table data-fh-table="tableSettings">
  <tr data-ng-repeat="row in data.items track by row.id">
    <td>hai
</table>
