<!doctype html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>FhTableRow Demo</title>

<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/scripts/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/scripts/vendor/country-flags/css/flags.css">
<link rel="stylesheet" href="/styles/app.css">

<script src="/scripts/vendor/angular/angular.min.js"></script>
<script src="/scripts/vendor/jquery/dist/jquery.min.js"></script>
<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/vendor/lodash/dist/lodash.min.js"></script>
<script src="/scripts/vendor/moment/min/moment.min.js"></script>
<script src="/scripts/vendor/angular-moment/angular-moment.min.js"></script>

<script src="/scripts/vendor/fireh_angular_table/core.js"></script>
<script src="/scripts/vendor/fireh_angular_table/core_mixins.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_row.js"></script>

<script src="/scripts/demoapp-fh-table-row.js"></script>


<body data-ng-app="fhTableRowDemo" data-ng-controller="MainCtrl">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>FhTableRow Demo</h1>

      <p>View source and also take a look at this file
         <a href="/scripts/demoapp-fh-table-row.js">
           demoapp-fh-table-row.js
         </a>.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table data-fh-table="tableSettings" class="table table-striped">

          <thead>
            <tr>
              <th>Id
              <th>Title
              <th>Author
              <th>Content
              <th>Country
              <th>Date Created
              <th>Date Modified
              <th>Actions
          </thead>

          <tr data-ng-repeat="row in data.items track by row.id"
              data-fh-table-row="row" data-fhp-editable>

            <td>{{row.id}}

            <td data-ng-if="!isEditing">{{row.title}}
            <td data-ng-if="isEditing"
                data-ng-class="{'info': modifiedFields.title}">

              <input type="text" data-ng-model="draft.title"
                  class="form-control" data-ng-change="triggerDraftUpdated()">

            <td data-ng-if="!isEditing">{{row.author}}
            <td data-ng-if="isEditing"
                data-ng-class="{'info': modifiedFields.author}">

              <input type="text" data-ng-model="draft.author"
                  class="form-control" data-ng-change="triggerDraftUpdated()">

            <td data-ng-if="!isEditing">{{row.body}}
            <td data-ng-if="isEditing"
                data-ng-class="{'info': modifiedFields.body}">

              <textarea data-ng-model="draft.body" class="form-control"
                  data-ng-change="triggerDraftUpdated()"></textarea>

            <td>
              <i class="flag n-{{('0000' + row.country.id).slice(-3)}}"
                  data-ng-if="row.country"></i>

            <td am-time-ago="row.created_at">
            <td am-time-ago="row.modified_at">
            <td>
              <span style="white-space:nowrap">
                <button ng-if="!isEditing" ng-click="edit()"
                    class="btn btn-default">

                  <i class="glyphicon glyphicon-pencil"
                      title="{{ 'Edit' }}"></i>
                </button>

                <button ng-if="!isEditing" ng-click="delete()"
                    class="btn btn-default">

                  <i class="glyphicon glyphicon-trash"i
                      title="{{ 'Delete' }}"></i>
                </button>

                <button ng-if="isEditing" ng-click="save()"
                    class="btn btn-success">

                  <i class="glyphicon glyphicon-ok" title="{{ 'Save' }}"></i>
                </button>

                <button ng-if="isEditing" ng-click="cancel()"
                    class="btn btn-danger">

                  <i class="glyphicon glyphicon-remove"
                      title="{{ 'Cancel' }}"></i>
                </button>
              </span>
            </td>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nav>
        <h2>Where to go from here?</h2>
        <ol>
          <li><a href="/#/widgets/fh-table-row">FhTableRow</a>
          <li><a href="/#/widgets">Widgets</a>
          <li><a href="/#/">Home</a>
          <li><a href="https://github.com/dozymoe/fireh_angular_table">
              Github repository</a>
        </ol>
      </nav>
    </div>
  </div>
</div>
