<!doctype html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>FhTablePager Demo</title>

<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/scripts/vendor/country-flags/css/flags.css">
<link rel="stylesheet" href="/styles/app.css">

<script src="/scripts/vendor/angular/angular.min.js"></script>
<script src="/scripts/vendor/jquery/dist/jquery.min.js"></script>
<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/vendor/lodash/dist/lodash.min.js"></script>
<script src="/scripts/vendor/moment/min/moment.min.js"></script>
<script src="/scripts/vendor/angular-moment/angular-moment.min.js"></script>

<script src="/scripts/vendor/fireh_angular_table/core.js"></script>
<script src="/scripts/vendor/fireh_angular_table/core_mixins.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_pager.js"></script>

<script src="/scripts/demoapp-fh-table-pager.js"></script>


<body data-ng-app="fhTablePagerDemo" data-ng-controller="MainCtrl">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>FhTablePager Demo</h1>

      <p>View source and also take a look at this file
         <a href="/scripts/demoapp-fh-table-pager.js">
           demoapp-fh-table-pager.js
         </a>.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table data-fh-table="tableSettings" class="table table-striped">

          <thead>
            <tr>
              <th>Id
              <th>Title
              <th>Author
              <th>Content
              <th>Country
              <th>Date Created
              <th>Date Modified
          </thead>

          <tr data-ng-repeat="row in data.items track by row.id">
            <td>{{row.id}}
            <td>{{row.title}}
            <td>{{row.author}}
            <td>{{row.body}}
            <td>
              <i class="flag n-{{('0000' + row.country.id).slice(-3)}}"
                  data-ng-if="row.country"></i>
            <td am-time-ago="row.created_at">
            <td am-time-ago="row.modified_at">
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-7 col-xs-push-5 col-sm-6 col-sm-push-6 text-right
        pagination-container" data-fh-table-pager="tableSettings"
        data-fhp-pager-links-count="5">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nav>
        <h2>Where to go from here?</h2>
        <ol>
          <li><a href="/#/widgets/fh-table-pager">FhTablePager</a>
          <li><a href="/#/widgets">Widgets</a>
          <li><a href="/#/">Home</a>
          <li><a href="https://github.com/dozymoe/fireh_angular_table">
              Github repository</a>
        </ol>
      </nav>
    </div>
  </div>
</div>
