<!doctype html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>FhTableFieldSelect Demo</title>

<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/scripts/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/scripts/vendor/country-flags/css/flags.css">
<link rel="stylesheet" href="/styles/app.css">

<script src="/scripts/vendor/angular/angular.min.js"></script>
<script src="/scripts/vendor/jquery/dist/jquery.min.js"></script>
<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/vendor/lodash/dist/lodash.min.js"></script>
<script src="/scripts/vendor/moment/min/moment.min.js"></script>
<script src="/scripts/vendor/angular-moment/angular-moment.min.js"></script>
<script src="/scripts/vendor/jquery-infinite-scroll-helper/jquery.infinite-scroll-helper.min.js"></script>

<script src="/scripts/vendor/fireh_angular_table/core.js"></script>
<script src="/scripts/vendor/fireh_angular_table/core_mixins.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_row.js"></script>
<script src="/scripts/vendor/fireh_angular_table/infinite_scroll.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_field_select.js"></script>

<script src="/scripts/demoapp-fh-table-field-select.js"></script>


<body data-ng-app="fhTableFieldSelectDemo" data-ng-controller="MainCtrl">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>FhTableFieldSelect Demo</h1>

      <p>View source and also take a look at this file
         <a href="/scripts/demoapp-fh-table-field-select.js">
           demoapp-fh-table-field-select.js
         </a>.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table data-fh-table="tableSettings" class="table table-striped">

          <thead>
            <tr>
              <th>Id
              <th>Title
              <th>Author
              <th>Content
              <th>Country
              <th>Date Created
              <th>Date Modified
              <th>Actions
          </thead>

          <tr data-ng-repeat="row in data.items track by row.id"
              data-fh-table-row="row" data-fhp-editable
              data-fhp-editable-fields="country">

            <td>{{row.id}}
            <td>{{row.title}}
            <td>{{row.author}}
            <td>{{row.body}}

            <td data-ng-if="!isEditing">
              <i class="flag n-{{('0000' + row.country).slice(-3)}}"
                data-ng-show="row.country"></i>

            <td data-ng-if="isEditing"
                data-ng-class="{'info': modifiedFields.country}">

              <div data-fh-table-field-select="country"
                  data-fhp-single-selection
                  data-fhp-table-row="row" class="form-group select-country">

                <span data-fh-transclude-pane="caption">
                  <i class="flag n-{{('0000' + draft.country).slice(-3)}}"></i>
                </span>

                <div data-fh-transclude-pane="popup">
                  <div class="modal-body">
                    <ul class="list-unstyled"
                        data-fh-transcluded="data-fh-infinite-scroll"
                        data-fhp-init-callback="infiniteScrollModalInit">

                      <li data-ng-repeat="row in data.items track by row.id"
                          data-fh-table-row="row">

                        <button type="button" class="btn btn-default"
                            data-ng-click="select()">

                          <i class="flag n-{{('0000' + row.id).slice(-3)}}"></i>
                          {{row.name}}
                        </button>
                      </li>
                      </ul>
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>

            <td am-time-ago="row.created_at">
            <td am-time-ago="row.modified_at">
            <td>
              <span style="white-space:nowrap">
                <button ng-if="!isEditing" ng-click="edit()"
                    class="btn btn-default">

                  <i class="glyphicon glyphicon-pencil"
                      title="{{ 'Edit' }}"></i>
                </button>

                <button ng-if="!isEditing" ng-click="delete()"
                    class="btn btn-default">

                  <i class="glyphicon glyphicon-trash"
                      title="{{ 'Delete' }}"></i>
                </button>

                <button ng-if="isEditing" ng-click="save()"
                    class="btn btn-success">

                  <i class="glyphicon glyphicon-ok" title="{{ 'Save' }}"></i>
                </button>

                <button ng-if="isEditing" ng-click="cancel()"
                    class="btn btn-danger">

                  <i class="glyphicon glyphicon-remove"
                      title="{{ 'Cancel' }}"></i>
                </button>
              </span>
            </td>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nav>
        <h2>Where to go from here?</h2>
        <ol>
          <li><a href="/#/widgets/fh-table-field-select">
              FhTableFieldSelect</a>

          <li><a href="/#/widgets">Widgets</a>
          <li><a href="/#/">Home</a>
          <li><a href="https://github.com/dozymoe/fireh_angular_table">
              Github repository</a>
        </ol>
      </nav>
    </div>
  </div>
</div>
