<!doctype html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>FhTableFilterSelect Demo</title>

<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/scripts/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/scripts/vendor/country-flags/css/flags.css">
<link rel="stylesheet" href="/styles/app.css">

<script src="/scripts/vendor/angular/angular.min.js"></script>
<script src="/scripts/vendor/jquery/dist/jquery.min.js"></script>
<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/vendor/lodash/dist/lodash.min.js"></script>
<script src="/scripts/vendor/moment/min/moment.min.js"></script>
<script src="/scripts/vendor/angular-moment/angular-moment.min.js"></script>
<script src="/scripts/vendor/jquery-infinite-scroll-helper/jquery.infinite-scroll-helper.min.js"></script>

<script src="/scripts/vendor/fireh_angular_table/core.js"></script>
<script src="/scripts/vendor/fireh_angular_table/core_mixins.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_filter_text.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_row.js"></script>
<script src="/scripts/vendor/fireh_angular_table/infinite_scroll.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_filter_select.js"></script>

<script src="/scripts/demoapp-fh-table-filter-select.js"></script>


<body data-ng-app="fhTableFilterSelectDemo" data-ng-controller="MainCtrl">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>FhTableFilterSelect Demo</h1>

      <p>View source and also take a look at this file
         <a href="/scripts/demoapp-fh-table-filter-select.js">
           demoapp-fh-table-filter-select.js
         </a>.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form class="form-inline">
        <div data-fh-table-filter-select="country"
            data-fhp-table="tableSettings"
            class="form-group select-country">

          <span data-fh-transclude-pane="caption">Select Country</span>

          <div data-fh-transclude-pane="popup">
            <ul class="list-unstyled" data-ng-if="data.selectedItems.length">
              <li data-ng-repeat="row in data.selectedItems track by row.id"
                  data-fh-table-row="row">

                <input type="checkbox"
                    id="{{elementId}}-{{row.id}}" checked
                    data-ng-click="toggleSelect($event); $event.stopPropagation()">

                <label for="{{elementId}}-{{row.id}}"
                    data-ng-click="$event.stopPropagation()">

                  <i class="flag n-{{('0000' + row.id).slice(-3)}}"></i>
                  {{row.name}}
                </label>
              </li>
            </ul>

            <ul class="list-unstyled"
                data-fh-transcluded="data-fh-infinite-scroll"
                data-fhp-init-callback="infiniteScrollPopupInit">

              <li data-ng-repeat="row in data.items track by row.id"
                  data-fh-table-row="row">

                <div data-ng-if="!isSelected">
                  <input type="checkbox"
                      id="{{elementId}}-{{row.id}}"
                      data-ng-click="toggleSelect($event); $event.stopPropagation()">

                  <label for="{{elementId}}-{{row.id}}"
                      data-ng-click="$event.stopPropagation()">

                    <i class="flag n-{{('0000' + row.id).slice(-3)}}"></i>
                    {{row.name}}
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div data-fh-table-filter-select="author"
            data-fhp-table="tableSettings"
            class="form-group select-author">

          <span data-fh-transclude-pane="caption">Select Author</span>

          <div data-fh-transclude-pane="popup">
            <div data-fh-transcluded="data-fh-table-filter-text"
                data-fhp-name="author"
                data-fhp-placeholder="{{'author to search for'}}"
                class="form-group"></div>

            <ul class="list-unstyled"
                data-fh-transcluded="data-fh-infinite-scroll"
                data-fhp-init-callback="infiniteScrollPopupInit">

              <li data-ng-repeat="row in data.items track by row.author"
                  data-fh-table-row="row">

                <input type="checkbox"
                    id="{{elementId}}-{{row.author}}"
                    data-ng-checked="isSelected"
                    data-ng-click="toggleSelect($event); $event.stopPropagation()">

                <label for="{{elementId}}-{{row.author}}"
                    data-ng-click="$event.stopPropagation()">

                  {{row.author}}
                </label>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table data-fh-table="tableSettings" class="table table-striped">

          <thead>
            <tr>
              <th>Id
              <th>Title
              <th>Author
              <th>Content
              <th>Country
              <th>Date Created
              <th>Date Modified
          </thead>

          <tr data-ng-repeat="row in data.items track by row.id">
            <td>{{row.id}}
            <td>{{row.title}}
            <td>{{row.author}}
            <td>{{row.body}}
            <td>
              <i class="flag n-{{('0000' + row.country.id).slice(-3)}}"
                  data-ng-if="row.country"></i>
            <td am-time-ago="row.created_at">
            <td am-time-ago="row.modified_at">
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nav>
        <h2>Where to go from here?</h2>
        <ol>
          <li><a href="/#/widgets/fh-table-filter-select">
              FhTableFilterSelect</a>
              
          <li><a href="/#/widgets">Widgets</a>
          <li><a href="/#/">Home</a>
          <li><a href="https://github.com/dozymoe/fireh_angular_table">
              Github repository</a>
        </ol>
      </nav>
    </div>
  </div>
</div>
