<!doctype html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>fhTableFilterSelect Demo</title>

<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/scripts/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/scripts/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/scripts/vendor/country-flags/css/flags.css">
<link rel="stylesheet" href="/styles/app.css">

<script src="/scripts/vendor/angular/angular.min.js"></script>
<script src="/scripts/vendor/angular-route/angular-route.min.js"></script>
<script src="/scripts/vendor/jquery/dist/jquery.min.js"></script>
<script src="/scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/vendor/lodash/dist/lodash.min.js"></script>
<script src="/scripts/vendor/moment/min/moment.min.js"></script>
<script src="/scripts/vendor/angular-moment/angular-moment.min.js"></script>
<script src="/scripts/vendor/jquery-infinite-scroll-helper/jquery.infinite-scroll-helper.min.js"></script>

<script src="/scripts/vendor/fireh_angular_table/core.js"></script>
<script src="/scripts/vendor/fireh_angular_table/core_mixins.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_pager.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_pager_size.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_sorting.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_filter_text.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_row.js"></script>
<script src="/scripts/vendor/fireh_angular_table/infinite_scroll.js"></script>
<script src="/scripts/vendor/fireh_angular_table/table_filter_select.js"></script>

<script src="/scripts/demoapp-fh-table-filter-select.js"></script>


<body data-ng-app="fhTableFilterSelectDemo" data-ng-controller="MainCtrl">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>fhTableFilterSelect Demo</h1>

      <p>View source and also take a look at this file
         <a href="/scripts/demoapp-fh-table-filter-select.js">
           demoapp-fh-table-filter-select.js
         </a>.
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <form class="form-inline">
        <div data-fh-table-filter-text="title" data-fhp-params="tableSettings"
            data-fhp-placeholder="{{'title to search for'}}"
            class="form-group"></div>

        <div data-fh-table-filter-select="country" data-fhp-params="tableSettings"
            data-fhp-dropdown-label="Select Country"
            class="form-group select-country">

          <ul class="list-unstyled" data-ng-if="data.selectedItems.length">
            <li data-ng-repeat="row in data.selectedItems track by row.id" data-fh-table-row="row">
              <input type="checkbox" data-ng-click="select($event); $event.stopPropagation()"
                  checked>

              <i class="flag n-{{('0000' + row.id).slice(-3)}}"></i>
              {{row.name}}
            </li>
          </ul>

          <ul class="list-unstyled"
              data-fh-transcluded="data-fh-infinite-scroll"
              data-fhp-init-callback="infiniteScrollPopupInit">

            <li data-ng-repeat="row in data.items track by row.id" data-fh-table-row="row">
              <div data-ng-if="!isSelected">
                <input type="checkbox" data-ng-click="select($event); $event.stopPropagation()">
                <i class="flag n-{{('0000' + row.id).slice(-3)}}"></i>
                {{row.name}}
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>

    <div class="col-md-2 text-right form-group">
      <button data-ng-click="createNote()" class="btn btn-primary"
          data-ng-disabled="isCreatingNote">

        Create new Note
      </button>
    </div>
  </div>

  <div class="row" data-ng-hide="isCreatingNote">
    <div class="col-md-12">
      <div class="table-responsive">
        <table data-fh-table="tableSettings" class="table table-striped">

          <thead>
            <tr>
              <th>Id <div data-fh-table-sorting="id"></div>
              <th>Title <div data-fh-table-sorting="title"></div>
              <th>Author <div data-fh-table-sorting="author"></div>
              <th>Content
              <th>Country
              <th>Date Created <div data-fh-table-sorting="created_at"></div>
              <th>Date Modified
              <th>Actions
          </thead>

          <tr data-ng-repeat="row in data.items track by row.id" data-fh-table-row="row">
            <td>{{row.id}}
            <td data-ng-class="{'info': isFieldModified('title')}">
              <span data-ng-if="!isEditing">{{row.title}}</span>
              <input data-ng-if="isEditing" data-ng-model="draft.title" class="form-control">

            <td data-ng-class="{'info': isFieldModified('author')}">
              <span data-ng-if="!isEditing">{{row.author}}</span>
              <input data-ng-if="isEditing" data-ng-model="draft.author" class="form-control">

            <td data-ng-class="{'info': isFieldModified('body')}">
              <div data-ng-if="!isEditing">{{row.body}}</div>
              <textarea data-ng-if="isEditing" data-ng-model="draft.body" class="form-control"></textarea>

            <td><i class="flag n-{{('0000' + row.country).slice(-3)}}" data-ng-show="row.country"></i>
            <td am-time-ago="row.created_at">
            <td am-time-ago="row.modified_at">
            <td>
              <span style="white-space:nowrap">
                <button ng-if="isEditing" ng-click="save()" class="btn btn-success">
                  <i class="glyphicon glyphicon-ok" title="{{ 'Save' }}"></i>
                </button>

                <button ng-if="isEditing" ng-click="cancel()" class="btn btn-danger">
                  <i class="glyphicon glyphicon-remove" title="{{ 'Cancel' }}"></i>
                </button>

                <button ng-if="!isEditing" ng-click="edit()" class="btn btn-default">
                  <i class="glyphicon glyphicon-pencil" title="{{ 'Edit' }}"></i>
                </button>

                <button ng-if="!isEditing" ng-click="delete()" class="btn btn-default">
                  <i class="glyphicon glyphicon-trash" title="{{ 'Delete' }}"></i>
                </button>
              </span>
            </td>
        </table>
      </div>
    </div>
  </div>

  <div class="row" data-ng-hide="isCreatingNote">
    <div class="col-xs-5 col-sm-6 pagination-size">
      <div>
        Show
        <span data-fh-table-pager-size="tableSettings"
            data-fhp-pager-sizes="5,10,20,50,100"
            data-fhp-default-pager-size="5"></span>

        entries per page
      </div>
    </div>

    <div class="col-xs-7 col-sm-6 text-right pagination-container"
        data-fh-table-pager="tableSettings"
        data-fhp-pager-links-count="5">
    </div>
  </div>

  <div class="row ng-hide" data-ng-show="isCreatingNote">
    <div class="col-md-12">
      <form name="createNoteForm">
        <div class="form-group">
          <label for="edit-title">Title</label>
          <input class="form-control" id="edit-title"
              placeholder="Some title thingy"
              data-ng-model="draft.title"
              required
              maxlength="50">
        </div>

        <div class="form-group">
          <label for="edit-author">Author</label>
          <input class="form-control" id="edit-author"
              placeholder="Slim Shady"
              data-ng-model="draft.author"
              required
              maxlength="50">
        </div>

        <div class="form-group">
          <label for="edit-body">Content</label>
          <textarea class="form-control" id="edit-body"
              placeholder="This is a note!"
              data-ng-model="draft.body"
              maxlength="250">
          </textarea>
        </div>

        <button class="btn btn-primary" data-ng-click="saveNote()"
            data-ng-disabled="!createNoteForm.$valid">

          Save
        </button>

        <button class="btn btn-cancel" data-ng-click="closeForm()">
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
